@use "../../styles/colors";
@use "../../styles/media-queries";
@use "../../styles/mixins";

.form {
  @include mixins.flex(column, center, center);
  gap: 2rem;
  width: 30%;
  max-width: 600px;

  .fieldset {
    @include mixins.flex(column, center, center);
    width: 100%;
    gap: 2rem;
    padding: 2rem 0;
    border: 1px solid colors.$primary-blue;
    border-radius: 8px;

    legend {
      @include mixins.text(1.25rem, 500);
      text-align: center;
    }
  }
}
.radio {
  text-align: center;
  input {
    padding: 0.5rem;
  }
  label {
    padding: 1rem;
    align-self: flex-start;
    margin-left: 0.75rem;
    @include mixins.text(1.1rem, 500);
  }
  p {
    height: 1rem;
    @include mixins.text(0.85rem, 500);
    text-align: center;
    color: colors.$highlight;
    margin: 0 0 0 0.75rem;
  }
  .label_title {
    text-align: center;
    @include mixins.text(1.1rem, 500);
    color: colors.$primary-blue;
  }
}

.row {
  @include mixins.flex(row, $justify: space-between);
  gap: 1.5rem;
}

.icon {
  margin-right: 0.5rem;
}

.field {
  label {
    margin-left: 0.75rem;
    @include mixins.text(1.1rem, 500);
    color: colors.$primary-blue;
  }
  input {
    width: 100%;
    padding: 1rem;
    border: 1px solid colors.$text-main;
    border-radius: 8px;
    font-size: 1rem;
    border-color: lightgray;
  }
  p {
    height: 1rem;
    @include mixins.text(0.85rem, 500);
    color: colors.$highlight;
    margin: 0 0 0 0.75rem;
  }
}
