@use "../../styles/colors";
@use "../../styles/media-queries";
@use "../../styles/mixins";

.container {
  display: grid;
  grid-template-columns: 150px 6fr 1.5fr;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid colors.$accent-blue;
  background: white;
}
.iconCell {
  @include mixins.flex(row, center, center);

  .icon {
    color: colors.$accent-blue;
    font-size: 1.75rem;
  }
}
.details {
  @include mixins.flex(column);
  gap: 0.25rem;
  p {
    @include mixins.text(1.2rem, 500);
    margin: 0 0 0.25rem 2rem;
  }
  span {
    @include mixins.text(1.45rem, 700);
    color: colors.$accent-blue;
  }
}

.buttons_container {
  @include mixins.flex(row, center, center);
  gap: 2rem;
  flex-grow: 1;
}
