@use "../../styles/mixins";

.container {
  background-color: white;
  @include mixins.flex(column, flex-start, center);
  width: 85%;
  min-height: 100vh;
}

.wizard {
  @include mixins.flex(column, center, center);
  width: 100%;
  margin-top: 6rem;
  gap: 1rem;
}
